#header {
    &-main {
        background-color: $dark-color;
        position: relative;

        .navbar {
            display: flex;
            justify-content: space-between;

            &-brand {
                width: 15rem;
                height: 5rem;
                object-fit: cover;
            }

            &-nav {
                display: flex;
                align-items: center;
                gap: 1rem;

                .btn {
                    border-bottom: 2px solid transparent;
                    white-space: nowrap;

                    &:hover {
                        border-color: $light-color;
                    }

                    &.active {
                        border-color: $primary-color;
                        color: $primary-color;
                    }
                }
            }
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 102%;
            background: linear-gradient(var(--rotate), $primary-color 50%, $light-color 50%, $secondary-color);
            z-index: -9;
            filter: blur(1rem);
            animation: rotate 5s linear infinite;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 104%;
            background: linear-gradient(var(--rotate), $primary-color 50%, $light-color 50%, $secondary-color);
            z-index: -9;
            animation: rotate 5s linear infinite;
        }
    }
}

#main {
    .container {
        display: flex;
        flex-direction: row;

        #section {
            &__skills {
                width: 50%;

                .progress-bars {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    .progress {
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        .fa-brands {
                            color: $primary-color;
                            font-size: 1.4rem;
                            border: 1px solid $light-color;
                            border-radius: 50%;
                            width: 2.5rem;
                            height: 2.5rem;
                            line-height: 2.5rem;
                            text-align: center;
                            transition: .5s ease;
                            animation: icons .6s linear 2.8s backwards;

                        }

                        &:hover {
                            .fa-brands {
                                background-color: $light-color;
                                color: $dark-color;
                                transform: rotate(360deg);
                            }
                        }

                        span {
                            background-color: $secondary-color;
                            padding: .3rem;
                            border-radius: 20%;
                        }

                        &-bar {
                            height: 1px;
                            background-color: $light-color;
                            animation: bar 2s linear 2.2s forwards;

                        }

                        &:nth-child(1) {
                            div {
                                position: relative;

                                &::after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 1px;
                                    width: 90%;
                                    background-color: $primary-color;
                                }
                            }
                        }

                        &:nth-child(2) {
                            div {
                                position: relative;

                                &::after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 1px;
                                    width: 85%;
                                    background-color: $primary-color;
                                }
                            }
                        }

                        &:nth-child(3) {
                            div {
                                position: relative;

                                &::after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 1px;
                                    width: 80%;
                                    background-color: $primary-color;
                                }
                            }
                        }

                        &:nth-child(4) {
                            div {
                                position: relative;

                                &::after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 1px;
                                    width: 80%;
                                    background-color: $primary-color;
                                }
                            }
                        }

                        &:nth-child(5) {
                            div {
                                position: relative;

                                &::after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 1px;
                                    width: 20%;
                                    background-color: $primary-color;
                                }
                            }
                        }
                    }
                }
            }

            &__about {
                width: 50%;

                .profile {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    align-self: center;

                    &-photo {
                        width: 20rem;
                        height: 20rem;
                        object-fit: contain;
                        object-position: center;
                        border-radius: 50%;
                        margin-bottom: .5rem;
                        filter: drop-shadow(5px 5px 5px $primary-color);
                    }
                }
            }
        }
    }
}

#section {
    &__projects {
        background-color: $secondary-color;

        .projects {

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            .project {
                text-align: center;

                .img-wrapper {
                    display: block;
                    height: 300px;
                    background-color: $dark-color;
                    border-radius: 1rem 1rem 0 0;
                    padding: 2rem;
                    position: relative;
                    overflow: hidden;
                    cursor: pointer;

                    img {
                        height: 100%;
                        max-width: 100%;
                        object-fit: contain;
                    }

                    .search-icon {
                        color: $light-color;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) scale(0);
                        transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        z-index: 99;
                    }

                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $primary-color;
                        opacity: 0.3;
                        transform: translate(-100%, 0);
                        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    }

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $primary-color;
                        opacity: 0.3;
                        transform: translate(100%, 0);
                        transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                    }

                    &:hover {
                        &::before {
                            transform: translate(-50%, 0);
                        }

                        &::after {
                            transform: translate(50%, 0);
                        }

                        .search-icon {
                            transform: translate(-50%, -50%) scale(2);
                        }
                    }
                }

                &-body {
                    background-color: $primary-color;
                    border-radius: 0 0 1rem 1rem;
                    color: $dark-color;
                    padding-bottom: .5rem;
                }
            }
        }
    }

    &__process {
        .process {
            display: flex;
            flex-wrap: no-wrap;
            gap: 1rem;
            padding: 2rem 0;

            div {
                width: 25%;
                padding: 2rem 1rem;
                background-color: $secondary-color;
                border-radius: 1rem;

                &:hover {
                    .process__icon {
                        background-color: $primary-color;
                        transform: rotate(360deg);
                    }
                }
            }

            &__icon {
                font-size: 4rem;
                border: 2px solid $light-color;
                width: 7rem;
                height: 7rem;
                line-height: 7rem;
                border-radius: 50%;
                transition: all .3s ease-in;
            }

            &__step {
                margin: .5rem 0;
            }
        }

        .backtoup {
            animation: backtoup 2s linear infinite alternate;

            &-button {
                color: $light-color;
                font-size: 1.2rem;

                &:hover {
                    filter: drop-shadow(0 0 5px $primary-color) drop-shadow(0 0 10px $primary-color) drop-shadow(0 0 15px $primary-color);

                }
            }
        }
    }

    &__contact {
        background-color: $dark-color;

        .contact {
            &-form {
                max-width: 800px;
                width: 80vw;
                min-width: 200px;
                margin: auto;
                display: grid;
                grid-template-areas:
                    'name email'
                    'subject phone'
                    'massage massage'
                    'submit submit';
                gap: 1rem;

                [name="name"] {
                    grid-area: name;

                }

                [name="email"] {
                    grid-area: email;
                }

                [name="subject"] {
                    grid-area: subject;
                }

                [name="phone"] {
                    grid-area: phone;
                }

                [name="massage"] {
                    grid-area: massage;
                    resize: none;
                }

                [type="submit"] {
                    grid-area: submit;
                    border-radius: 1rem;
                    font-size: 1rem;

                    &:hover {
                        box-shadow:
                            0 0 5px $primary-color,
                            0 0 25px $primary-color,
                            0 0 50px $primary-color,
                            0 0 100px $primary-color;
                    }
                }

                * {
                    &:not([type="submit"]) {
                        color: $light-color;
                        border: none;
                        border-radius: .5rem;
                        padding: 1rem;
                        border-left: 2px solid $primary-color;
                        background-color: $dark-color;
                        font-size: 13.3px;

                        &::placeholder {
                            color: $light-color;
                            border-bottom: 1px solid $light-color;
                            padding-bottom: 0.5rem;
                        }

                        &:focus {
                            outline: none;
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-color;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: visibility .1s linear 2.2s forwards;

    &-inner {
        width: 10rem;
        height: 10rem;
        border-bottom: 2px solid $medium-color;
        border-top: 2px solid $primary-color;
        border-radius: 20%;
        animation: loading 2s linear;
    }
}